{
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": false,
    "react/no-array-index-key": "off"
  }
}
